/**Bayo's section**/
*{
    margin:0;
    padding:0;
    text-align: center;
    justify-content: center;
    font-family: 'patty One', sans-serif;
}

body{
    background-image: url('bed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    font-style: 'Montserrat' sans-seriff;
}

.first{
    position: absolute;
    top:24%;
    left:35%;
    color:white;
}

.second{
    font-size: 68px;
    font-weight: bolder;
}
.third{
    font-size: 27.3px;
    padding-top: 13px;
}

.pause{
    padding: 49px;
    margin-left: 160px;
    width:40px;
    margin-top: 30px;
    border-radius: 100px;
    border:none;
    background-color: orangered;
    cursor: pointer;
}


.triangle{
    position:absolute;
    width:0;
    height:0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left:20px solid #fff;
    top:225px;
    left:225px;
}

p{
    display:none;
}


@media(max-width:767px){
    body{
        background-image: url('bed.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:600px;
        max-width:2px;
    }
    .first{
        top:120px;
        left:105px;
    }
    .second{
        font-size: 50px;
    }

    .third{
        font-size: 19px;
    }
    .pause{
        margin-left: 79px;
    }
    .triangle{
        position:absolute;
        width:0;
        height:0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left:20px solid #fff;
        top:185px;
        left:140px;
    }
    
}